/* ALICE - GLOBAL STYLES  */

	* {
		margin:0;
		padding:0;
	}
	
	/* html element is being used as background color for this layout (outside the wrapper when visible) */
	html {
       background:#A2A1A1;
	}
	
	/* body is being used as the wrapper of all content for this layout */
	body {
		background:#fff;
		font-family:baskerville, palatino, 'palatino linotype', georgia, serif;
	}
	
	header {
		background:#5B7EAD;
		color:#fff;
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-weight:normal;
        
	}
	
	h1 {
		text-align:right;
        font-variant:small-caps;
        border-bottom-style: outset;
        border-right-style: outset;
        border-color: #B15D5D;
        
	}

    h1 a {
        text-decoration: none;
        color:#fff;
    }
	
	h2.pageid {
		color:#F39E9E;
		position:relative;
        
        
	}
	
	/* style for icon image */
     .icon {
		display:block;
		float:left;
		height:150px;
		margin-right:1em;	
        }
	
	article {
		text-align:justify;
	}
	
    article h2 {
    font-variant: small-caps;
    }
		
	iframe.webcam {
		width:90%;
		max-width:600px;
		min-height:300px;
		overflow-y:hidden;
		}

	section {
		border-bottom:1px solid #000;
		}
		
		
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
		} 
	
	.embed-container iframe, .embed-container object, .embed-container embed { 	
		position: absolute; 
		top: 0; left: 0; 
		width: 100%; 
		height: 100%; 
		}
	
	aside {
		font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	}
	
	.author {
		font-weight:bold;
		text-align:right;
	}
	
	
	/* start reCAPTCHA styles */
		
		/* writes to small text above reCAPTCHA upon failure */
		
		 
		.dateFeedback{
			font-style:italic;
			font-size:70%;
			font-weight:bold;
			color:#f00;
		}
        
        /* 
        input:required {
              border: 1px solid red;
        }

         input:optional, textarea:optional {
             background-color:#f1f1f1;
             border:1px solid #ccc;
        }
        */ 

        input[type="submit"], input[type="button"] {
          background-color: #fff;
          border-radius: 4px;
          border: solid 1px #ccc;
          padding: 0.3em 0.5em;
        }

        fieldset {
          border: 1px solid #e6f2ff;
          max-width: 350px;
        }

        legend {
          margin-left: 0.5em;
          padding: 0.2em 0.5em;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
        
        /* end reCAPTCHA styles */
	
	
	footer {
		background-color:#686D7B;
		font-family:baskerville, palatino, 'palatino linotype', georgia, serif;
		text-transform:capitalize;
		text-align:right;
		color:#fff;
		clear:both;
	}
	
	

	/* nav */
	nav.main {
		margin: 30px 0 10px 0;
		clear:both;
		padding-top:20px;
		z-index:1000;
	}
	nav.main ul {
		margin: 0;
		padding: 0;
	}
	nav.main li {
		margin: 5px 5px 5px 0;
		padding: 0;
		list-style: none;
		display: inline-block;
	}
	
	nav.main a {
		padding: 3px 12px;
		text-decoration: none;
		color: #ffb3b3;
		line-height: 100%;
	}
	
	nav.main a:hover {
		color: #777;
	}
	
	nav.main .current a {
		background: #ff4d4d;
		color: #fff;
		border-radius: 5px;
	}
	
	/* right nav */
	nav.main.right ul {
		text-align: right;
	}
	
	/* center nav */
	nav.main.center ul {
		text-align: center;
        color:#000;
        border: 1px solid #4D0000;
	}


	
	
	
	
	
	
    /* RESPONSIVE BREAK POINTS AND STYLES */
	
	/* DESKTOP Layout and Sizing */
	@media all and (min-width:780px) {
		body {
			background:#fff;
			width:80%;
			margin:auto;
		}
		
		header {
			padding:20px 10px 10px 10px; /* T R B L */	
		}
		
		h2.pageid {
			padding:20px 0px 0px 25px;
		}
		
		h1 {
			font-size:3em;
			font-variant:small-caps;
			letter-spacing:.10em;
			margin-right:10px;
		}
		
		p {
				margin-bottom:1em;
		}
		
		article {
				float:left;
				width:64%;
				padding-left:2.5%;
		}
		
		article h2 {
			font-size:2em;
			margin-bottom:.20em;
		}
		
		article p {
			font-size:1.2em;
		}
		
		
		section {
                -webkit-column-count:2;
                -moz-column-count:2;
                -ie-column-count:2;
                column-count:2;    
                -webkit-column-gap:2em;
                -moz-column-gap:2em;
                -ie-column-gap:2em;
                column-gap:2em;    
                padding-bottom:1em;
        }
		
		section:last-of-type {
				border-bottom:none;
		}
		
		aside {
				float:right;
				width:26%;
				padding: 0px 2.5% 0px 2.5%;
				font-size:90%;
		}
		
		aside h2 {
			 	font-size:1.2em;
				margin-bottom:1em;
		}
		
		footer {
				font-size:1.2em;
				letter-spacing:.20em;
				padding: 25px 0 15px 0;
		}
	}

		
		
		
	/* TABLET Layout and Sizing */ 
	@media all and (min-width:481px) and (max-width:779px) {
		 body {
			 background-color:#e5c2f0;
			 width:90%;
             margin:0px 5px;
             padding:0px 5px;
		}
		
        
        h1 {
            margin-right: 0.1em;
        }

        h2.pageid {
            margin-left: 0.1em;
	   }

	} /* NOTE: Be sure to close this media query's declaration block correctly */
	
	
	
	/* Responsive Nav Layout */ 
	@media all and (max-width:577px) {
		body {
			background-color:#dfcde4;
            margin:0px 5px;
            padding:0px 5px;
		}
		
        
        h1 {
            margin-right: 0.1em;
        }

        h2.pageid {
            margin-left: 0.1em;
	   }
        
		nav.main {
			position: relative;
			min-height: 40px;
            margin-left: 0.1em;
		}	
		
		nav.main ul {
			width: 180px;
			padding: 5px 0;
			position: absolute;
			top: 0;
			left: 0;
			border: solid 1px #aaa;
			background: #fff url(../../images/icon-menu.png) no-repeat 10px 11px;
			border-radius: 5px;
			box-shadow: 0 1px 2px rgba(0,0,0,.3);
		}
		
		nav.main li {
			display: none; /* hide all <li> items */
			margin: 0;
		}
		
		nav.main li.current {
			display: block; /* show only current <li> item */
		}
		
		nav.main a {
			display: block;
			padding: 5px 5px 5px 32px;
			text-align: left;
		}
		
		nav.main li.current a {
			background: none;
			color: #666;
		}
	
		/* on nav hover */
		nav.main ul:hover {
			background-image: none;
		}
		
		nav.main a:hover {
			color: #f00;
		}
		
		nav.main ul:hover li {
			display: block;
			margin: 0 0 5px;
		}
		
		nav.main ul:hover li.current {
			background: url(../../images/icon-check.png) no-repeat 10px 7px;
		}
	}



/* NOTE: Be sure to close this media query's declaration block correctly */

	
	
	
	/* PHONE Layout and Sizing */ 


	@media all and (max-width:480px) {
		body {
			background-color:#ddd1e0;
            margin:0px 5px;
            padding:0px 5px;
		}
        
        h1 {
            margin-right: 0.1em;
        }

        h2.pageid {
            margin-left: 0.1em;
	   }
        
	}


/* NOTE: Be sure to close this media query's declaration block correctly *//* CSS Document */

